.booking-card {
  font-size: clamp(13px, 1vw, 16px);
  margin: 1vh;
  background-color: var(--text-white);
  /* height: clamp(223px, 20vh, 225px); */
  width: clamp(400px, 42vw, 650px);
  /* width: min(400px); */
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  border: 1px solid #808080;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 16px;

  img {
    width: 30px;
  }
}

.room-details {
  height: clamp(194px, 13vh, 235px);
  width: clamp(139px, 28vw, 224px);
  margin-top: 0.25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid orange; */
}

.room-response {
  height: clamp(194px, 13vh, 235px);
  width: clamp(180px, 31vw, 334px);
  margin-top: 0.25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid orange; */
}

.room-info,
.room-cost {
  margin-top: 0.5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  /* border: 2px solid green; */
}

.response {
  font-weight: 600;
}

.booking-options {
  /* height: clamp(194px, 19vh, 216px); */
  width: clamp(108px, 120w, 170px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  /* border: 3px solid cyan; */
}

.delete-room-booking {
  margin: 4px;
}

.booking-card p {
  margin: 1px;
}