/* ---------------------------------------User-section------------------------------------- */
.user-rooms {
  background-color: var(--secondary-color);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  overflow-y: scroll;
}

.user-rooms-search,
.user-rooms-past,
.user-upcoming-bookings {
  height: max(63vh);
  /* width: clamp(431px, 48vw, 730px); */
  overflow-y: scroll;
  /* border: 3px solid purple; */
}

.user-section-header {
  color: var(--text-white);
  height: 4vh;
  width: clamp(431px, 48vw, 730px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 3px solid black; */
}

h3,
h4 {
  font-size: clamp(16px, 1vw, 28px);
  /* width: clamp(150px, 15vw, 225px); */
  margin: 0;
  /* border: 3px solid blue; */
}

h4 {
  /* width: clamp(177px, 15vw, 225px); */
}

.user-bookings-section,
.future-bookings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  /* border: 3px solid blue; */
}

.user-bookings-section {
  background-color: var(--tertiary-color);
  /* height: min(65vh); */
}

.future-bookings-section {
  background-color: var(--second-acc-color);
}

.delete-room-booking {
  &:hover {
    cursor: pointer;
  }
}

/* ---------------------------------------User-Search-section------------------------------------- */

.user-rooms-search h4 {
  width: clamp(405px, 43vw, 680px);
}

.user-rooms-search .booking-options {
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-start; */
}

.show-past-bookings-button {
  color: var(--text-black);
  border-color: var(--text-black);
  width: 18vw;
}